@import '../../../sass/main.scss';

.weather {
    font-weight: 300;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(#000, .1);
    min-height: 6rem;
    padding: .5rem;

    display: flex;
    align-items: center;

    opacity: 0;
    transition: opacity 1s;

    background-color: #fff;
    &-icon {
        width: 6rem;
        height: 6rem;
        img {
            width: 100%;
            display: block;
        }
    }

    &-temperature {
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: -6px;
        margin-right: 2rem;

        & sup {
            font-size: 1.8rem;
            letter-spacing: 0;
            margin-left: 5px;
        }
    }

    &-details {
        margin-right: 1.5rem;
        flex: 1;

        text-align: center;

        &-description {
            color: $color-secondary;
        }
    }

    &--fetched {
        opacity: 1;
    }
}