@import '../../../sass/main.scss';

.weather {
    font-weight: 300;
    border-radius: 30px;
    box-shadow: 0 1rem 2rem rgba($color-secondary, .2);
    min-height: 7.5rem;

    display: flex;
    align-items: center;

    opacity: 0;
    transition: opacity 1s;

    &-icon {
        width: 7.5rem;
        height: 7.5rem;

        img {
            width: 100%;
            display: block;
        }
    }

    &-temperature {
        font-size: 3.8rem;
        font-weight: 300;
        letter-spacing: -6px;
        margin-right: 4rem;

        & sup {
            font-size: 1.8rem;
            letter-spacing: 0;
            margin-left: .4rem;
        }
    }

    &-details {
        padding: 0 2rem;

        &-location {


            display: flex;
            justify-content: center;
        }

        &-description {
            color: $color-secondary;
        }
    }
}

.weather--fetched {
    opacity: 1;
}