.toolbar {
    font-size: 1.6rem;
    list-style: none;
    padding: 3rem;
    margin: 0 2rem;

    display: flex;
    align-items: center;

    & > * {
        font-weight: 700;

        &:not(:first-child) {
            cursor: pointer;

            & a {
                color: #000;
                text-decoration: none;
            }
        }
    }

    &-weather {
        margin-right: auto;
    }

    &-login {
        margin-right: 3rem;
    }
}