@import '../../sass/main.scss';

.toolbar {
    min-height: 11rem;
    font-size: 1.6rem;
    list-style: none;
    padding: 2rem 0;
    margin: 0 2rem;

    display: flex;
    align-items: center;

    & > * {
        font-weight: 700;

        &:not(:first-child) {
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            & a {
                color: #000;
                text-decoration: none;
            }
        }
    }

    &-weather {
        margin-right: auto;
    }

    &-currentUserName {
        color: $color-secondary;
    }
}