@import '../../../sass/main.scss';

.toDo-form {
    font-size: 1.6rem;
    padding: 0 3rem;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
        &:focus {
            outline: none;
        }
    }

    &-input {
        flex: 0 0 85%;

        font-size: 1.6rem;
        padding: 1rem 2rem;
        margin-right: 3rem;
        border-radius: 30px;
        border: none;
        color: #fff;
        background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
        box-shadow: 0 .5rem 1rem rgba($color-secondary, .4);
        transition: all .2s;

        &::placeholder {
            color: #fff;
        }
        
        &:focus {
            flex: 0 0 90%;
        }
    }

    &-button {
        flex: 0 0 3.5rem;

        font-size: 1.6rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        color: #fff;
        background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
        box-shadow: 0 .5rem 1rem rgba($color-secondary, .4);
        transform: all .2s;

        &:focus { outline: none; }

        &:hover { transform: translateY(-3px); }

        &:active {
            transform: translateY(-1px);
            box-shadow: 0 .25rem .5rem rgba($color-secondary, .4);
        }
    }
}