@import '../../../sass/main.scss';

.form-input {
    font-size: 1.6rem;
    padding: .75rem 1rem;
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
    color: #fff;
    opacity: .8;
    border: none;
    border-radius: 30px;

    transition: opacity .2s;

    &:focus { outline: none; opacity: 1}    

    
}
