@import '../../../sass/main.scss';

.form-input {
    padding: 1rem;
    background-color: rgb(185, 201, 255);
    border: none;
    border-radius: 30px;

    &:focus { border: 2px solid $color-primary; outline: none; }
}