@import '../../../sass/main.scss';

.banner {
    padding: 1rem 5rem;
    align-self: stretch;
    text-align: center;

    font-size: 3.2rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;

    margin-bottom: 5rem;

    color: #fff;
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
    box-shadow: 0 1rem 2rem rgba($color-secondary, .3);
}