@import '../../../sass/main.scss';

.toDo-list-item {
    font-size: 1.6rem;
    font-style: italic;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba($color-secondary, .2);
    
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 20rem;

    align-self: flex-start;


    & > * {
        padding: .5rem;
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: center;

        list-style: none;

        &-delete {
            margin-right: auto;
        }

        & > * {
            cursor: pointer;
        }
    }

    &-text {
        
        
    }
    

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &:hover {
        button {
            background-color: $color-primary;
        }
    }
}