@import '../../../sass/main.scss';

.toDo-list-item {
    font-size: 1.6rem;
    font-style: italic;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba($color-secondary, .2);
    
    margin: 0 auto;
    padding: 0 1rem;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    transition: all .2s;

    & > * {
        padding: .5rem;
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: center;

        list-style: none;

        &-delete {
            margin-right: auto;
        }

        & > * {
            cursor: pointer;
        }
    }

    &-text {

    }
    

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &:hover {
        background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
        color: #fff;

        button {
            background-color: $color-primary;
        }
    }
}