@import '../../../sass/main.scss';

.toDo-list-item {
    font-size: 1.6rem;
    font-weight: 700;
    font-style: italic;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba($color-secondary, .2);
    
    min-width: 20rem;
    margin: 0 1.5rem 3rem 1.5rem;
    padding: 0 1rem;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    transition: all .2s;

    & > * {
        padding: .5rem;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-secondary, .2);

        button {
            background-color: $color-primary;
        }
    }

    &-pinned {
        background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
        color: #fff;
    }

    &-actions {
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        list-style: none;


        &-delete {
            margin-right: auto;
        }

        &-star {
            margin-right: 1rem;
        }

        & > * {
            cursor: pointer;

            img {
                width: 2rem;
                display: block;
    
                transition: all .2s;
            }

            img:hover {
                width: 2.5rem;
            }
        }
    }

    &-text {
        
        &-done {
            text-decoration: line-through;
        }
    }
}