@import '../../sass/main.scss';

.signup {
    padding: 2rem 0;

    display: flex;
    flex-direction: column;  
    align-items: center; 

    &-form {
        display: flex;
        flex-direction: column;
        
        & > * {
            font-size: 1.6rem;
            margin-bottom: 3rem;

            display: flex;
            justify-content: center;
            align-items: center;

            & label {
                flex: 0 0 15rem;
                margin-right: 1rem;
                
                text-align: end;
            }
        }
    }
}